In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv("aapl.csv")

df.head()

         date   close      volume     open    high       low
0  2018/01/26  171.51  39075250.0  172.000  172.00  170.0600
1  2018/01/25  171.11  41438280.0  174.505  174.95  170.5300
2  2018/01/24  174.22  51368540.0  177.250  177.30  173.2000
3  2018/01/23  177.04  32395870.0  177.300  179.44  176.8200
4  2018/01/22  177.00  27052000.0  177.300  177.78  176.6016

In [5]:
df.describe()

            close        volume        open        high         low
count  128.000000  1.280000e+02  128.000000  128.000000  128.000000
mean   164.796875  2.792345e+07  164.818867  165.869282  163.605606
std      8.426518  1.044068e+07    8.330246    8.399290    8.389324
min    148.730000  1.402667e+07  149.100000  150.220000  147.300000
25%    157.192500  2.109392e+07  157.432500  158.494600  156.190000
50%    163.200000  2.560428e+07  163.695000  164.105000  161.585000
75%    172.542500  3.240434e+07  172.562500  173.817500  171.667500
max    179.260000  7.157456e+07  179.370000  180.100000  178.250000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 6 columns):
date      128 non-null object
close     128 non-null float64
volume    128 non-null float64
open      128 non-null float64
high      128 non-null float64
low       128 non-null float64
dtypes: float64(5), object(1)
memory usage: 6.1+ KB

In [8]:
df.drop(index =0)

           date   close      volume     open      high       low
1    2018/01/25  171.11  41438280.0  174.505  174.9500  170.5300
2    2018/01/24  174.22  51368540.0  177.250  177.3000  173.2000
3    2018/01/23  177.04  32395870.0  177.300  179.4400  176.8200
4    2018/01/22  177.00  27052000.0  177.300  177.7800  176.6016
5    2018/01/19  178.46  31306390.0  178.610  179.5800  177.4100
6    2018/01/18  179.26  31087330.0  179.370  180.1000  178.2500
7    2018/01/17  179.10  34260230.0  176.150  179.2500  175.0700
8    2018/01/16  176.19  29512410.0  177.900  179.3900  176.1400
9    2018/01/12  177.09  25302200.0  176.180  177.3600  175.6500
10   2018/01/11  175.28  18653380.0  174.590  175.4886  174.4900
11   2018/01/10  174.29  23751690.0  173.160  174.3000  173.0000
12   2018/01/09  174.33  21532200.0  174.550  175.0600  173.4100
13   2018/01/08  174.35  20523870.0  174.350  175.6100  173.9300
14   2018/01/05  175.00  23589930.0  173.440  175.3700  173.0500
15   2018/01/04  173.03  22342650.0  172.540  173.4700  172.0800
16   2018/01/03  172.23  29461040.0  172.530  174.5500  171.9600
17   2018/01/02  172.26  25400540.0  170.160  172.3000  169.2600
18   2017/12/29  169.23  25938760.0  170.520  170.5900  169.2200
19   2017/12/28  171.08  16412270.0  171.000  171.8500  170.4800
20   2017/12/27  170.60  21477380.0  170.100  170.7800  169.7100
21   2017/12/26  170.57  33113340.0  170.800  171.4700  169.6790
22   2017/12/22  175.01  16339690.0  174.680  175.4240  174.5000
23   2017/12/21  175.01  20848660.0  174.170  176.0200  174.1000
24   2017/12/20  174.35  23451420.0  174.870  175.4200  173.2500
25   2017/12/19  174.54  27393660.0  175.030  175.3900  174.0900
26   2017/12/18  176.42  29385650.0  174.880  177.2000  174.8600
27   2017/12/15  173.97  40122100.0  173.630  174.1700  172.4600
28   2017/12/14  172.22  20442740.0  172.400  173.1300  171.6500
29   2017/12/13  172.27  23402510.0  172.500  173.5400  172.0000
30   2017/12/12  171.70  19088170.0  172.150  172.3900  171.4610
..          ...     ...         ...      ...       ...       ...
98   2017/09/06  161.91  21610300.0  162.710  162.9900  160.5200
99   2017/09/05  162.08  29491910.0  163.750  164.2500  160.5600
100  2017/09/01  164.05  16564340.0  164.800  164.9400  163.6300
101  2017/08/31  164.00  26729940.0  163.640  164.5200  163.4800
102  2017/08/30  163.35  27215770.0  163.800  163.8900  162.6100
103  2017/08/29  162.91  29451050.0  160.100  163.1200  160.0000
104  2017/08/28  161.47  25649890.0  160.140  162.0000  159.9300
105  2017/08/25  159.86  25184600.0  159.650  160.5600  159.2700
106  2017/08/24  159.27  19782170.0  160.430  160.7400  158.5500
107  2017/08/23  159.98  19376940.0  159.070  160.4700  158.8800
108  2017/08/22  159.78  21564890.0  158.230  160.0000  158.0200
109  2017/08/21  157.21  26330070.0  157.500  157.8900  155.1101
110  2017/08/18  157.50  27391950.0  157.860  159.5000  156.7200
111  2017/08/17  157.86  27377960.0  160.520  160.7100  157.8400
112  2017/08/16  160.95  27607370.0  161.940  162.5100  160.1500
113  2017/08/15  161.60  29377630.0  160.660  162.1950  160.1400
114  2017/08/14  159.85  22074760.0  159.320  160.2100  158.7500
115  2017/08/11  157.48  26208970.0  156.600  158.5728  156.0700
116  2017/08/10  155.32  39636190.0  159.900  160.0000  154.6300
117  2017/08/09  161.06  26060430.0  159.260  161.2700  159.1100
118  2017/08/08  160.08  36127490.0  158.600  161.8300  158.2700
119  2017/08/07  158.81  21827400.0  157.060  158.9200  156.6701
120  2017/08/04  156.39  20514810.0  156.070  157.4000  155.6900
121  2017/08/03  155.57  26604140.0  157.050  157.2100  155.0200
122  2017/08/02  157.14  69726440.0  159.280  159.7500  156.1600
123  2017/08/01  150.05  33669020.0  149.100  150.2200  148.4100
124  2017/07/31  148.73  19690420.0  149.900  150.3300  148.1300
125  2017/07/28  149.50  17192770.0  149.890  150.2300  149.1900
126  2017/07/27  150.56  32429770.0  153.750  153.9900  147.3000
127  2017/07/26  153.46  15649120.0  153.350  153.9300  153.0600

[127 rows x 6 columns]